# `Naive Bayes ------------------------------------`
### [For Reference, Click Here saedsayad](https://www.saedsayad.com/naive_bayesian.htm)
![](nb_3.png)
- **Naive Bayes acts upon likelihood table**
- **Assumption ob NB, no multicollinearity in columns, if there is remove by chi-square test**

#### `Problems`

1.  **It faces zero-frequecy problem sometimes**
- **to prevent it we add one to count for every attributes where it's zero**

2. **When data is nnumerical segregate the data into groups based on categorical data**
- **Find probability using z-table**
![](https://www.saedsayad.com/images/Bayes_NormDist.png)
![](https://www.saedsayad.com/images/Bayes_NormDist_1.png)

In [1]:
import numpy as np
import pandas as pd

### `Create dataframe`

In [2]:
data = [['Rainy','Hot','High','False','No'],
        ['Rainy','Hot','High','True','No'],
        ['Overcast','Hot','High','False','Yes'],
        ['Sunny','Mild','High','False','Yes'],
        ['Sunny','Cool','Normal','False','Yes'],
        ['Sunny','Cool','Normal','True','No'],
        ['Overcast','Cool','Normal','True','Yes'],
        ['Rainy','Mild','High','False','No'],
        ['Rainy','Cool','Normal','False','Yes'],
        ['Sunny','Mild','Normal','False','Yes'],
        ['Rainy','Mild','Normal','True','Yes'],
        ['Overcast','Mild','High','True','Yes'],
        ['Overcast','Hot','Normal','False','Yes'],
        ['Sunny','Mild','High','True','No']]

In [3]:
data = pd.DataFrame(data,columns=['Outlook','Temp','Humidity','Windy','Play Golf'])
data

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

### `Function for likelihood`

In [79]:
def likelihood(df):
    return df / df.sum()

![](nb_1.png)

### `Outlook vs Play golf ------------------------------------------`

In [80]:
freq_outvsplay = pd.crosstab(data['Outlook'],data['Play Golf'])
freq_outvsplay

Play Golf  No  Yes
Outlook
Overcast    0    4
Rainy       3    2
Sunny       2    3

In [81]:
like_outvsplay = likelihood(freq_outvsplay)
like_outvsplay

Play Golf   No       Yes
Outlook
Overcast   0.0  0.444444
Rainy      0.6  0.222222
Sunny      0.4  0.333333

### `Temp vs Play golf ------------------------------------------`

In [82]:
freq_tempvsplay = pd.crosstab(data['Temp'],data['Play Golf'])
freq_tempvsplay

Play Golf  No  Yes
Temp
Cool        1    3
Hot         2    2
Mild        2    4

In [83]:
like_tempvsplay = likelihood(freq_tempvsplay)
like_tempvsplay

Play Golf   No       Yes
Temp
Cool       0.2  0.333333
Hot        0.4  0.222222
Mild       0.4  0.444444

### `Humidity vs Play golf ------------------------------------------`

In [84]:
freq_humidvsplay = pd.crosstab(data['Humidity'],data['Play Golf'])
freq_humidvsplay

Play Golf  No  Yes
Humidity
High        4    3
Normal      1    6

In [85]:
like_humidvsplay = likelihood(freq_humidvsplay)
like_humidvsplay

Play Golf   No       Yes
Humidity
High       0.8  0.333333
Normal     0.2  0.666667

### `Windy vs Play golf ------------------------------------------`

In [86]:
freq_windvsplay = pd.crosstab(data['Windy'],data['Play Golf'])
freq_windvsplay

Play Golf  No  Yes
Windy
False       2    6
True        3    3

In [87]:
like_windvsplay = likelihood(freq_windvsplay)
like_windvsplay

Play Golf   No       Yes
Windy
False      0.4  0.666667
True       0.6  0.333333

![](nb_2.png)

![](nb_4.png)

### `Proof through code`
![](nb_5.png)

### P(Yes|X) = P(Rainy|Yes) * P(Cool|Yes) * P(High|Yes) * P(True|Yes) * P(Yes)

In [88]:
rainyes = like_outvsplay.loc['Rainy','Yes']
rainyes

0.2222222222222222

In [89]:
coolyes = like_tempvsplay.loc['Cool','Yes']
coolyes

0.3333333333333333

In [90]:
highyes = like_humidvsplay.loc['High','Yes']
highyes

0.3333333333333333

In [91]:
trueyes = like_windvsplay.loc['True','Yes']
trueyes

0.3333333333333333

In [92]:
yes = 9/14
yes

0.6428571428571429

In [93]:
Prob_yes = rainyes*coolyes*highyes*trueyes*yes
Prob_yes

0.005291005291005291

### P(No|X) = P(Rainy|No) * P(Cool|No) * P(High|No) * P(True|No) * P(No)

In [94]:
rainno = like_outvsplay.loc['Rainy','No']
rainno

0.6

In [95]:
coolno = like_tempvsplay.loc['Cool','No']
coolno

0.2

In [96]:
highno = like_humidvsplay.loc['High','No']
highno

0.8

In [97]:
trueno = like_windvsplay.loc['True','No']
trueno

0.6

In [98]:
no = 5/14
no

0.35714285714285715

In [99]:
Prob_no = rainno*coolno*highno*trueno*no
Prob_no

0.02057142857142857

### Standardization

In [100]:
standard_yes = Prob_yes / (Prob_no + Prob_yes)
standardize_yes

0.20458265139116202

In [102]:
standard_no = Prob_no / (Prob_no + Prob_yes)
standard_no

0.795417348608838

### Outcome:`Game will not be played on this day`

### `This is just for the reference of working of algo, use sklearn direct function`

## `End --------------------------------------`